<template>
  <div class="type_msg">
    <div class="input_msg_write d-flex flex-row">
      <input type="text" 
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)" 
        class="write_msg" 
        placeholder="Type a message" 
        :disabled="is_disabled"
      required/>
      <div class="d-flex flex-column-reverse">
        <button class="msg_send_btn" :disabled="is_disabled" type="submit">
          <font-awesome-icon icon="location-arrow" style="transform: rotate(42deg);" />
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ChatInputBox',
  props: ['value', 'is_disabled'],
});
</script>

<style scoped>

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  padding-left: 10px;
  font-family: 'Proxima Nova Regular', sans-serif;
}

.type_msg {
  position: relative;
  height: 50px;
  background: rgba(235, 235, 235, 1);
}

.msg_send_btn {
  background: rgba(11, 163, 96, 1) none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  width: 33px;
  margin-bottom: 4px;
  margin-right: 4px;
  margin-left: 4px;
}

</style>
