<template>
  <div class="msg-container mx-1"
    v-bind:class="{ 
      'flex-row-reverse': isSentType(),
      'flex-row': isReceivedType(),
    }"
  >
    <div class="flex-column" v-bind:class="{ 
      'msg-sent': isSentType(),
      'msg-received': isReceivedType(),
      }"
    >
      <div class="body-container">
        <div class="p-2" style="white-space: pre-line;">
          {{ msg.content }} 
        </div>
      </div>
      <span class="time_date">{{ formattedDate() }}</span> 
    </div>
  </div>
</template>

<script lang="ts">
import { IMessage } from '@/models';
import Vue from 'vue';
// eslint-disable-next-line @typescript-eslint/no-var-requires
const dateFormat = require('dateformat');

// TODO: Replace full date and show full date on hover

export default Vue.extend({
  name: 'ChatMessage',
  props: {
    msg: Object as () => IMessage,
  },
  methods: {
    isSentType() {
      return this.msg.user_organization_id === this.$store.state.accounts.currentUser.user_organization_id;
    },
    isReceivedType() {
      return !this.isSentType();
    },
    formattedDate(): string {
      return dateFormat(this.msg.inserted_at, 'dddd, mmmm d, yyyy | h:MM TT');
    },
  },
});
</script>

<style scoped>

.msg-container{
  display: block;
  margin-bottom: 1rem;
}

.time_date {
  color: #747474;
  font-size: 12px;
  margin: 8px;
  align-self: inherit;

}

/*********************/

.msg-sent {
  display: flex;
  padding-right: 1%;
  padding-left: 15%;
  align-self: flex-end;
  width: 100%;
}

.msg-sent .body-container {
  font-family: 'Proxima Nova Regular', sans-serif;
  background: #53b88b;
  border-radius: 7px;
  font-size: 14px;
  color:#fff;
  align-self: inherit;
}
 
 /*********************/

.msg-received {
  display: flex;
  padding-left: 1%;
  padding-right: 15%;
  align-self: flex-start;
  width: 100%;
}

.msg-received .body-container {
  font-family: 'Proxima Nova Regular', sans-serif;
  background: #eaeaea;
  border-radius: 7px;
  color: #545454;
  font-size: 14px;
  align-self: inherit;
}

</style>
