<template>
  <div class="login-container">
    <div class="container router-view-container">
      <div class="card">
        <div class="card-body">
          <h5 style="color: #212529" class="card-title pb-2">Login</h5>

          <form v-on:submit.prevent="submitLogin">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="input-group-prepend-email">
                  <font-awesome-icon icon="envelope" />
                </span>
              </div>
              <input
                v-model="email"
                type="email"
                class="form-control"
                id="email"
                placeholder="Email address"
                aria-describedby="input-group-prepend-email"
                required
              />
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  id="input-group-prepend-password"
                >
                  <font-awesome-icon icon="lock" style="width: 16px" />
                </span>
              </div>
              <input
                v-model="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                aria-describedby="input-group-prepend-password"
                required
              />
            </div>

            <div class="form-group">
              <button
                id="login_button"
                type="submit"
                class="btn btn-custom-primary btn-primary btn-block"
                :disabled="lock"
              >
                Log in
              </button>
            </div>
            <div class="form-group pt-2">
              <div class="text-center">
                <div style="color: #212529">Don't have an account?</div>
                <router-link :to="{ name: ROUTE_SIGNUP }"
                  >Sign Up Here!</router-link
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ROUTE_TICKET_LIST, ROUTE_SIGNUP } from "@/router";

export default Vue.extend({
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      lock: false,
      ROUTE_SIGNUP,
    };
  },
  methods: {
    submitLogin() {
      const payload = {
        email: this.email,
        password: this.password,
      };
      this.lock = true;
      const request = this.$store.dispatch("accounts/LOGIN", payload);
      request.then(() => {
        if (this.$route.query.redirect) {
          this.$router.push({ path: this.$route.query.redirect as string });
        } else {
          this.$router.push({ name: ROUTE_TICKET_LIST });
        }
      }).finally(() => this.lock = false);
    },
  },
});
</script>


<style lang="scss">
@import "@/styles/general.scss";

.router-view-container {
  padding-top: 60px;
}

.login-container {
  background: $custom-primary; 
  height: 100vh;
}
</style>
