<template>
  <div class="signup-container">
    <div class="container router-view-container">
      <div class="card">
        <div class="card-body">
          <h5 style="color: #212529" class="card-title pb-2">Sign Up</h5>
          <form v-on:submit.prevent="submitSignup">
            <div class="form-group">
              <label for="name">
                <small class="form-text text-muted">Name</small>
              </label>
              <input
                v-model="name"
                v-bind:class="{ 'is-invalid': form_errors.name.length !== 0 }"
                type="text"
                class="form-control"
                id="name"
                placeholder="Name"
                required
              />
              <div
                v-for="(name_error, index) in form_errors.name"
                v-bind:key="index"
                class="invalid-feedback"
              >
                {{ name_error }}
              </div>
            </div>
            <div class="form-group">
              <label for="organization_name">
                <small class="form-text text-muted">Organization Name </small>
              </label>
              <input
                v-model="organization_name"
                v-bind:class="{
                  'is-invalid': form_errors.organization_name.length !== 0,
                }"
                type="text"
                class="form-control"
                id="organization_name"
                placeholder="Organization Name"
                required
              />
              <div
                v-for="(name_error, index) in form_errors.organization_name"
                v-bind:key="index"
                class="invalid-feedback"
              >
                {{ name_error }}
              </div>
            </div>
            <div class="form-group">
              <label for="email">
                <small class="form-text text-muted">Email</small>
              </label>
              <input
                v-model="email"
                v-bind:class="{ 'is-invalid': form_errors.email.length !== 0 }"
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
                required
              />
              <div
                v-for="(email_error, index) in form_errors.email"
                v-bind:key="index"
                class="invalid-feedback"
              >
                {{ email_error }}
              </div>
            </div>
            <div class="form-group">
              <label for="password">
                <small class="form-text text-muted">Password</small>
              </label>
              <input
                v-model="password"
                v-bind:class="{
                  'is-invalid': form_errors.password.length !== 0,
                }"
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                required
              />
              <div
                v-for="(password_error, index) in form_errors.password"
                v-bind:key="index"
                class="invalid-feedback"
              >
                {{ password_error }}
              </div>
            </div>
            <div class="form-group">
              <button
                id="signup_button"
                type="submit"
                class="btn btn-primary btn-custom-primary btn-block"
                :disabled="lock"
              >
                Sign up
              </button>
            </div>
            <div class="form-group pt-2">
              <div class="text-center">
                Already have an account?
                <router-link :to="{ name: ROUTE_LOGIN }">Log in</router-link>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ROUTE_LOGIN, ROUTE_TICKET_LIST } from "@/router";

export default {
  name: "signup",
  data() {
    return {
      name: "",
      email: "",
      password: "",
      organization_name: "",
      form_errors: {
        name: [],
        organization_name: [],
        email: [],
        password: [],
      },
      ROUTE_LOGIN,
      lock: false,
    };
  },
  methods: {
    submitSignup() {
      // Reset errors forms
      this.form_errors = {
        name: [],
        email: [],
        password: [],
        organization_name: [],
      };

      const payload = {
        user: {
          name: this.name,
          email: this.email,
          password: this.password,
        },
        organization: {
          name: this.organization_name,
        },
      };

      this.lock = true;
      const request = this.$store.dispatch("accounts/SIGNUP", payload);

      const handleFailedRequest = (failedRequest) => {
        const response = failedRequest.response.data;
        if (response.errors.email) {
          this.form_errors.email = response.errors.email;
        }
        if (response.errors.name) {
          this.form_errors.name = response.errors.Name;
        }
        if (response.errors.password) {
          this.form_errors.password = response.errors.Password;
        }
      };

      request
        .then(() => {
          const loginPayload = {
            email: this.email,
            password: this.password,
          };

          const loginRequest = this.$store.dispatch(
            "accounts/LOGIN",
            loginPayload
          );

          loginRequest.then(() => {
            this.$router.push({ name: ROUTE_TICKET_LIST });
          });
        })
        .catch(handleFailedRequest)
        .finally(() => (this.lock = false));
    },
  },
};
</script>


<style lang="scss">
@import "@/styles/general.scss";

.router-view-container {
  padding-top: 60px;
}

.signup-container {
  background: $custom-primary;
  height: 100vh;
}
</style>
