<template>
  <div id="sidebar-wrapper">
    <div class="sidebar-heading"></div>
    <div class="d-flex flex-column">
      <div class="p-2">
        <router-link
          :to="{ name: ROUTE_TICKET_LIST }"
          v-bind:class="{ 'link-disabled': current_route === ROUTE_TICKET_LIST }"
          class="btn btn-outline-secondary btn-custom-outline-secondary"
          role="button"
          data-toggle="tooltip"
          data-placement="right"
          title="Tickets"
        >
          <font-awesome-icon icon="ticket-alt" size="lg" />
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ROUTE_TICKET_LIST } from "@/router";

export default Vue.extend({
  name: "Sidebar",
  data: () => {
    return {
      ROUTE_TICKET_LIST,
    };
  },
  computed: {
    current_route() {
      return this.$route.name;
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "@/styles/general.scss";

#sidebar-wrapper {
  min-height: calc(100% - 52px);
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background-color: $custom-primary !important;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.link-disabled {
  cursor: default;
}
.menu-font-text {
  color: rgba(255, 255, 255, 1);
  background-color: $custom-primary !important;
  font-family: "Biotif Semi Bold", sans-serif;
  font-size: 1.1em;
  outline: none;
}

.menu-font-text:hover {
  color: #ff0095 !important;
}
</style>
