<template>
  <div class="container-fluid">
    <div class="p-3 d-flex flex-row-reverse">
      <router-link
        class="btn btn-custom-primary btn-primary"
        :to="{ name: ROUTE_TICKET_CREATE }"
        >New Ticket</router-link
      >
    </div>
    <div class="container-fluid">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Subject</th>
            <th scope="col">Contact</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(ticket, index) in tickets" v-bind:key="index">
            <td>
              <router-link
                :to="{
                  name: ROUTE_TICKET_DETAIL,
                  params: { ticketNumber: ticket.number },
                }"
                >#{{ ticket.number }} {{ ticket.subject }}</router-link
              >
            </td>
            <td>
              {{ ticket.contact.email }}
            </td>
            <td>
              {{ getTicketStatusStr(ticket.status) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ROUTE_TICKET_CREATE, ROUTE_TICKET_DETAIL } from "@/router";
import { general } from "@/api";
import { getTicketStatusStr, TicketStatus, ITicket } from "@/models";

export default Vue.extend({
  name: "TicketsView",
  data: () => {
    return {
      ROUTE_TICKET_CREATE: ROUTE_TICKET_CREATE,
      ROUTE_TICKET_DETAIL: ROUTE_TICKET_DETAIL,
      tickets: [] as ITicket[],
    };
  },
  created() {
    general.getTickets().then((tickets) => (this.tickets = tickets));
  },
  methods: {
    getTicketStatusStr(status: TicketStatus) {
      return getTicketStatusStr(status)
    }
  }
});
</script>

<style lang="scss">
@import "@/styles/general.scss";
</style>