<template>
  <div class="d-flex flex-row" style="height: 100%">
    <form
      v-on:submit.prevent="submitMessageCreation"
      class="mesgs d-flex flex-column"
    >
      <ChatHeader />
      <ChatMessageList />
      <ChatInputBox
        v-model="message_body"
        v-bind:is_disabled="message_input_lock"
      />
    </form>
    <div class="p-2">
      <!-- TODO: refactor this into a component -->
      <div class="card">
        <div class="card-header">Details</div>
        <div class="card-body">
          <form v-on:submit.prevent="submitTicketUpdate">
            <div class="form-group">
              <label for="status">
                <small class="form-text">Status</small>
              </label>
              <select class="custom-select" v-model="ticket_edit.status">
                <option v-bind:value="2">Open</option>
                <option v-bind:value="1">Closed</option>
              </select>
            </div>
            <div class="form-group">
              <label for="status">
                <small class="form-text">Agent</small>
              </label>
              <select class="custom-select" v-model="ticket_edit.assigned_agent_id">
                <option v-bind:value="null">--</option>
                <option v-bind:value="agent.id" v-for="(agent, index) in available_agent" v-bind:key="index">
                  {{ agent.user.email }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <button
                id="login_button"
                type="submit"
                class="btn btn-primary btn-block"
                :disabled="!wasTicketEditModified || ticket_edit_lock"
              >
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Route } from "vue-router";
import toastr from "toastr";
import { ROUTE_TICKET_DETAIL, ROUTE_TICKET_LIST } from "@/router";
import ChatInputBox from "@/components/chat/ChatInputBox.vue";
import ChatMessageList from "@/components/chat/ChatMessageList.vue";
import ChatHeader from "@/components/chat/ChatHeader.vue";
import { WebSocket, general } from "@/api";
import { GenNullTicket, IMessage, TicketStatus } from "@/models";

export default Vue.extend({
  name: "TicketDetailView",
  components: {
    ChatInputBox,
    ChatMessageList,
    ChatHeader,
  },
  data: () => {
    return {
      ticket: GenNullTicket(),
      ticket_edit: GenNullTicket(),
      ticket_edit_lock: false,
      available_agent: [] as any[],
      messages: [] as IMessage[],
      message_body: "",
      message_input_lock: false,
    };
  },
  created() {
    general.getStaffUsers().then(agents => this.available_agent = agents);
    this.updateCurrentTicketFromRoute(this.$route);
  },
  beforeRouteUpdate(to, from, next) {
    this.updateCurrentTicketFromRoute(to);
    next();
  },
  beforeDestroy() {
    this.$store.commit("chat/SET_TICKET", null);
    this.$store.commit("chat/SET_MESSAGES", []);
    WebSocket.getTicketChannel().leave();
  },
  computed: {
    wasTicketEditModified(): boolean {
      if (this.ticket.status !== this.ticket_edit.status) return true;
      else if(this.ticket.assigned_agent_id !== this.ticket_edit.assigned_agent_id)  return true;
      return false;
    },
  },
  methods: {
    updateCurrentTicketFromRoute(route: Route) {
      const ticketNumber = parseInt(route.params.ticketNumber, 10);
      const joinChannel = () => {
        if (route.name === ROUTE_TICKET_DETAIL) {
          this.message_body = "";
          // TODO: add validation
          //this.$store.dispatch('chat/SET_THREAD_BY_ID', threadId).then(() => {
          WebSocket.setTicketChannel(this.ticket.id);
          WebSocket.getTicketChannel().on("message:created", (message) => {
            this.$store.commit("chat/PUSH_LAST_MESSAGE", message);
          });
          WebSocket.getTicketChannel().join();
          //});
        }
      };

      general
        .getTicket(ticketNumber)
        .then((ticket) => {
          this.ticket = ticket;
          this.ticket_edit = Object.assign({}, ticket);
          this.$store.commit("chat/SET_TICKET", ticket);
          return general.getTicketsMessages(ticketNumber);
        })
        .then((messages) => {
          this.messages = messages;
          this.$store.commit("chat/SET_MESSAGES", messages);

          WebSocket.getTicketChannel().leave();
          if (WebSocket.getSocket().isConnected()) {
            joinChannel();
          } else {
            let timeoutRef = -1;
            timeoutRef = setTimeout(() => {
              if (WebSocket.getSocket().isConnected()) {
                joinChannel();
                clearTimeout(timeoutRef);
              }
            }, 1000);
          }
        });
    },
    submitTicketUpdate() {
      const payload = {
        ticket: {
          status: this.ticket_edit.status,
          assigned_agent_id: this.ticket_edit.assigned_agent_id
        },
      };
      const request = general.updateTicket(this.ticket.id, payload);
      request
        .then((ticket) => {
          if (ticket.status === TicketStatus.Closed) {
            this.$router.push({ name: ROUTE_TICKET_LIST });
          } else {
            this.ticket = ticket;
            this.ticket_edit = Object.assign({}, ticket);
          }
          toastr.success("The ticket was successfully updated.");
        })
        .catch(() => {
          toastr.error("There was a problem updating the ticket's data.");
        });
    },
    submitMessageCreation() {
      const message = {
        content: this.message_body,
      };

      // TODO: handel errors and timeouts
      this.message_input_lock = true;
      WebSocket.getTicketChannel()
        .push("message:create", message)
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        .receive("ok", (msg) => {
          this.message_input_lock = false;
          this.message_body = "";
        })
        .receive("error", (reasons) => {
          console.log("create failed", reasons);
          this.message_input_lock = false;
        })
        .receive("timeout", () => {
          console.log("Networking issue...");
          this.message_input_lock = false;
        });
    },
  },
});
</script>

<style lang="scss">
.mesgs {
  border: 1px solid #ccc !important;
  height: 100%;
  width: 100%;
}
</style>