<template>
  <div class="container mt-4">
    <div class="h4">Create Ticket</div>
    <form v-on:submit.prevent="submitTicket">
      <div class="form-group">
        <label for="contact_email">
          <small class="form-text">Contact</small>
        </label>
        <input
          v-model="contact_email"
          type="email"
          class="form-control"
          id="contact_email"
          required
        />
      </div>
      <div class="form-group">
        <label for="subject">
          <small class="form-text">Subject</small>
        </label>
        <input
          v-model="subject"
          v-bind:class="{ 'is-invalid': form_errors.subject.length !== 0 }"
          type="text"
          class="form-control"
          id="subject"
          required
        />
        <div
          v-for="(name_error, index) in form_errors.subject"
          v-bind:key="index"
          class="invalid-feedback"
        >{{name_error}}</div>
      </div>
      <div class="form-group">
        <label for="message">
          <small class="form-text">Message</small>
        </label>
        <textarea 
          v-model="content" 
          v-bind:class="{ 'is-invalid': form_errors.content.length !== 0 }"
          class="form-control" 
          id="message" rows="3"></textarea>
        <div
          v-for="(error, index) in form_errors.content"
          v-bind:key="index"
          class="invalid-feedback"
        >{{error}}</div>
      </div>
      <div class="form-group">
        <label for="status">
          <small class="form-text">Agent</small>
        </label>
        <select class="custom-select" v-model="assigned_agent_id">
          <option v-bind:value="null">--</option>
          <option v-bind:value="agent.id" v-for="(agent, index) in available_agent" v-bind:key="index">
            {{ agent.user.email }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <button id="signup_button" type="submit" class="btn btn-primary btn-block">Create</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ROUTE_TICKET_DETAIL } from "@/router";
import { general } from "@/api";
import { TicketStatus } from '@/models';

export default Vue.extend({
  name: "TicketCreateView",
  data: () => {
    return {
      contact_email: "",
      subject: "",
      content: "",
      assigned_agent_id: null,
      available_agent: [] as any[],
      form_errors: {
        subject: [],
        content: [],
      },
    };
  },
  created() {
    general.getStaffUsers().then(agents => this.available_agent = agents);
  },
  methods: {
    submitTicket() {
      this.form_errors = {
        subject: [],
        content: [],
      };

      const payload = {
        ticket: {
          subject: this.subject,
          status: TicketStatus.Open,
          assigned_agent_id: this.assigned_agent_id,
          contact: {
            email: this.contact_email
          }
        },
        message: {
          content: this.content,
        },
      };

      const request = general.createTicket(payload);
      request
        .then((ticket) => {
          this.$router.push({ name: ROUTE_TICKET_DETAIL, params: { ticketNumber: String(ticket.number) }  });
        })
        .catch((failedRequest) => {
          const response = failedRequest.response.data;
          if (response.errors.subject) {
            this.form_errors.subject = response.errors.subject;
          }
          if (response.errors.content) {
            this.form_errors.content = response.errors.content;
          }
        });
    },
  },
});
</script>

<style lang="scss">
</style>